MQBoilerplateSwift.xcodeproj/project.xcworkspace/xcuserdata/jacquilineguzman.xcuserdatad/UserInterfaceState.xcuserstate
MQBoilerplateSwift.xcodeproj/xcuserdata/jacquilineguzman.xcuserdatad/xcschemes/MQBoilerplateSwift.xcscheme
MQBoilerplateSwift.xcodeproj/xcuserdata/jacquilineguzman.xcuserdatad/xcschemes/xcschememanagement.plist
